<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Research Insight Generator</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/index.css') }}"
    />
  </head>
  <body>
    <div class="logo-top-left">
      <img
        src="static/images/logo-sunraise.png"
        alt="SunRAIse Logo"
        class="logo-image"
      />
    </div>
    <div class="logo-container">
      <span class="logo-text"> SUNR<span class="highlight">AI</span>SE </span>
      <p class="quote">"From research to insight, with AI."</p>
    </div>
    <div>
      <button
        onclick="window.location.href='/research_reengineering'"
        class="search_button"
      >
        Switch to Research Reengineering
      </button>
    </div>

    <div class="container" style="display: flex; gap: 20px; box-shadow: none">
      <div class="panel left" style="flex: 1; border-radius: 16px">
        <h2>Upload Paper or Enter Keywords</h2>
        <div class="drop-zone" id="drop-zone">
          <img
            src="static/images/upload-paper.png"
            alt="Upload Paper Icon"
            class="drop-zone-image"
          />
          Drag and drop a research paper (PDF) or click to upload.
        </div>
        <textarea
          id="keywords"
          placeholder="Or enter keywords here..."
          style="width: 98%"
        ></textarea>
        <button id="submit" class="generate-button">Generate Insight</button>
      </div>
      <div class="panel right" style="flex: 1; border-radius: 16px">
        <h2>Generated Insight</h2>
        <div id="insight" class="insight">No insight generated yet.</div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/animation.js') }}"></script>
  </body>
</html>
