@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");

body {
  font-family: "Montserrat", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f9f9f9;
  font-weight: 400;
}

textarea {
  width: 95%;
  height: 150px;
  margin-top: 20px;
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #333;
  overflow-wrap: break-word;
}

.search_button {
  font-family: "Montserrat", serif;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.container {
  display: flex;
  width: 80%;
  height: 70%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.panel {
  flex: 1;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  overflow-y: auto;
}

.panel h2 {
  margin-top: 0;
}
.drop-zone {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}
.drop-zone.dragging {
  border-color: #007bff;
  background-color: #f0f8ff;
}
.panel.right {
  display: flex;
  flex-direction: column;
}
.insight {
  margin-top: 20px;
  padding: 15px;
  background-color: #f0f0f0;
  border-left: 4px solid #007bff;
}
.logo-container {
  text-align: center;
  margin: 20px 0;
}
.logo-text {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #007bff;
}
.logo-text .highlight {
  color: #ff9500;
}
.quote {
  font-size: 1.2rem;
  color: #555;
  margin-top: 10px;
}
.container {
  margin-top: 20px;
}
.logo-image {
  width: 60px;
  height: auto;
  cursor: pointer;
}
.logo-image:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
.drop-zone-image {
  display: block;
  margin: 0 auto 10px;
  max-width: 20%;
  height: auto;
}
.generate-button {
  font-family: "Montserrat", serif;
  font-weight: 500;
  padding: 10px 20px;
  font-size: 1.2rem;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 20px;
  width: 100%;
  margin-top: 10px;
}

.generate-button:hover {
  background-color: #0058b6;
}
.generate-button:active {
  background-color: #0058b6;
}
.generate-button.slide-right {
  transform: translateX(100px);
  background-color: #0058b6;
}
